<img src="assets/images/login.jpg" class="guide">
<div class="head inside">
    <a class="left-menu" href="#"><i class="icon-menu icons icons-top"></i></a>
    <h3 class="new-acct featured-profile"><i class="icon-diamond icons"></i> Mensagens</h3>
    <a class="right-menu" href="#"><i class="icon-user icons icons-top"></i></a>
</div>
<ion-content  scroll="true">
<div class="margin-top">
  <div class="m section-title">
    <div class="col-sm-12">Informações da conta</div>
  </div>

    <!--seção informações da conta-->
    <div id="account">

      <div class=" box">
        <ul class="list-unstyled list">
          <li><span class="icon-user-following icon icon-left"></span>Tiago André <span class="icon-pencil icon icon-right"></span></li>
          <li><span class="icon-envelope icon icon-left"></span>thiago_andre@live.com <span class="icon-pencil icon icon-right"></span></li>
          <li class="yellow"><span class="icon-credit-card icon icon-left yellow"></span>169.379.584-55<span class="glyphicon glyphicon-ok icon icon-right green"></span></li>
          <li>Perfil</li>
          <li><span class="icon-bell icon icon-left"></span>
            Alertas
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
          </li>
          <li><span class="icon-key icon icon-left "></span>Mudar Senha <span class="icon-arrow-right icon arrow-right"></span></li>
        </ul>
      </div>
    </div>



<!--seção suporte da conta-->
<div class="section-title">
  <div class="col-sm-12">Suporte da minha da conta</div>
</div>
    <div id="support">

      <divclass="box">
        <ul class="list-unstyled list list-second">
          <li><span class="icon-info icon icon-left "></span>Dúvidas Gerais <span class="icon-arrow-right icon arrow-right"></span></li>
          <li><span class="icon-envelope icon icon-left "></span>Fale conosco <span class="icon-arrow-right icon arrow-right"></span></li>
          <li><span class="icon-wallet icon icon-left "></span>Meus pagamentos <span class="icon-arrow-right icon arrow-right"></span></li>
        </ul>

</div>
<!--footer-->
<footer>
  <div class="col-sm-12">
    <p class="pull-left logo">HotSwingers </p> <span class="version yellow"> 1.0</span>
    <p class="pull-right copernight">Todos os direitos reservados</p>
</div>
</footer>

</ion-content>
