<img src="assets/images/login.jpg" class="guide">
<div class="head inside">
    <a class="left-menu" href="#" ng-click="redirect('side-menu')" ><i class="icon-menu icons icons-top"></i></a>
    <h3 class="new-acct featured-profile"><i class="icon-diamond icons"></i> Mensagens</h3>
    <a class="right-menu" href="#"><i class="icon-user icons icons-top"></i></a>
</div>
<ion-content class="album" scroll="true">
    <div class="couple-data profiles conversation">
        <div class="chat_list">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="box-msg">
                        <div class="imagem pull-left">
                            <div>
                                <img class="responsive img-circle chat border-orange" title="User1" alt="User1" src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                            </div>
                        </div>
                        <div class="conversa">
                            <div class="status status-offline"></div><small class="list-group-item-heading title">casaç_coraçãozinho</small><small class="pull-right text-">12:57</small>
                            <p>Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="box-msg">
                        <div class="imagem pull-left">
                            <div>
                                <img class="responsive img-circle chat border-yellow" title="User1" alt="User1" src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                            </div>
                        </div>
                        <div class="conversa">
                            <div class="status"></div><small class="list-group-item-heading title">solteiro-do-swing</small><small class="pull-right text-">20:30</small>
                            <p>Hi! this message is you message is you.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="box-msg">
                        <div class="imagem pull-left">
                            <div>
                                <img class="responsive img-circle chat " title="User1" alt="User1" src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                            </div>
                        </div>
                        <div class="conversa">
                            <div class="status status-offline"></div><small class="list-group-item-heading title">carol_xandy</small><small class="pull-right text-">ONTEM</small>
                            <p> Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="box-msg">
                        <div class="imagem pull-left">
                            <div>
                                <img class="responsive img-circle chat border-branco" title="User1" alt="User1" src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                            </div>
                        </div>
                        <div class="conversa">
                            <div class="status"></div><small class="list-group-item-heading title">os_santos_do_swing</small><small class="pull-right text-">ONTEM</small>
                            <p> Hi! this message is you message is you.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="box-msg">
                        <div class="imagem pull-left">
                            <div>
                                <img class="responsive img-circle chat border-orange" title="User1" alt="User1" src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                            </div>
                        </div>
                        <div class="conversa">
                            <div class="status status-offline"></div><small class="list-group-item-heading title">casal_hot</small><small class="pull-right text-">20/09/2016</small>
                            <p> Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="box-msg">
                        <div class="imagem pull-left">
                            <div>
                                <img class="responsive img-circle chat border-yellow" title="User1" alt="User1" src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                            </div>
                        </div>
                        <div class="conversa">
                            <div class="status"></div><small class="list-group-item-heading title">casal-sorriso</small><small class="pull-right text-">15/08/2016</small>
                            <p> Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="box-msg">
                        <div class="imagem pull-left">
                            <div>
                                <img class="responsive img-circle chat border-orange" title="User1" alt="User1" src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                            </div>
                        </div>
                        <div class="conversa">
                            <div class="status status-offline"></div><small class="list-group-item-heading title">casal_hot</small><small class="pull-right text-">01/01/2016</small>
                            <p> Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </li>
            </ul>

</ion-content>
