<img src="assets/images/login.jpg" class="guide">
<div class="head">
	<h3 class="new-acct" ng-show="account.type != 'couple'"><i class="icon-user icons"></i> Dados do Perfil</h3>
	<h3 class="new-acct" ng-show="account.type == 'couple'"><i class="icon-user icons"></i> Dados do Casal</h3>
</div>
<ion-content class="padding" scroll="true">
	<div class="couple-data">
		<p>Escolha a foto mais top que você tem!<br /> Esta será a <span class="gold-couple">principal foto do perfil</span> e <br />aparecerá em nosso <span class="gold-couple">Tyndeer do Swing</span>.</p>
		<div class="couple-figure" ng-click="selectFile('#file1')">
	 		<input ng-hide="true" type='file' id="file1" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" />		
			<i class="icon-camera" ng-show="!coupleData.avatar"></i>
			<img class="" ng-src="{{coupleData.avatar}}">
		</div>
		<div class="couple-form">
			<form>
			<div class="form-field couple-nick" ng-show="account.type == 'couple'">
				<input type="text" ng-model="coupleData.nick" placeholder="Apelido do Casal">
			</div>
			<div class="form-field">
				<p><i class="icon-magic-wand"></i> Frase provocativa</p>
				<textarea ng-model="coupleData.phrase" palceholder="Digite aqui uma frase provocativa que outros casais irão ver em seu perfil."></textarea>
			</div>
		<div class="selector-view">
			<p ng-show="account.type == 'couple'" >Buscamos por</p>
			<p ng-show="account.type != 'couple'" >Busco por</p>
			<select ng-model="coupleData.lookingFor">
				<option>Casais</option>
				<option>Feitiche</option>
				<option>Cuckold</option>
				<option>Grupal</option>
			</select>
		</div>
		<div class="selector-view ">
			<p ng-show="account.type != 'couple'">Idade do perfil</p>
			<p ng-show="account.type == 'couple'">Idade dos perfis</p>
			<select ng-model="coupleData.profileAge">
				<option>18 - 30</option>
				<option>30 - 40</option>
				<option>40 - 60</option>
			</select>
		</div>
		<div class="selector-view ">
			<p ng-show="account.type == 'couple'" >Procuramos por</p>
			<p ng-show="account.type != 'couple'" >Procuro por</p>
			<select ng-model="coupleData.seekingFor">
				<option>Menage</option>
			</select>
		</div>
		<div class="selector-view ">
			<p ng-show="account.type == 'couple'" >Gostamos por</p>
			<p ng-show="account.type != 'couple'" >Gosto de</p>
			<select class="right" ng-model="coupleData.likeTo">
				<option>Troca de casais</option>
				<option>Hardcore</option>
				<option>Selvagem</option>
			</select>
		</div>
		<div class="form-field">
				<p><i class="icon-emotsmile"></i>Breve descriação do perfil</p>
				<textarea rows="4" cols="50" placeholder="Digite aqui uma descrição sincera sobre a vida do casal no meio do swing e o que procura neste aplicativo. Capricha hein!" ng-model="coupleData.description"></textarea>
			</div>
			</form>
		</div>
			<button ng-click="proceedToPhotos()" class="submit-primary hn hnt"><img src="assets/images/correct-symbol.svg">	</button>
	</div>
</ion-content>
