<img src="assets/images/login.jpg" class="guide">
<div class="head">
	<h3 class="new-acct n"><i class="icon-camera icons"></i> Album de fotos do casal	</h3>
</div>
<ion-content class="album" scroll="true">
	<div class="couple-data album">
		<p>Escolha as fotos mais top que você tem!<br /> Elas estarão em <span class="gold-couple">seu álbum do perfil</span> <br/>e você pode trocar quando quiser!</p>

			<button class="submit-primary hn"><i class="icon-camera icons icon2"></i> Acessar minha galeria</button>
	</div>
	<div class="image-block">
		<div class="img-item">
			<div class="delete">
				<i class="icon-trash icons"></i>
				<span>Excluir</span>
			</div>
			<img src="https://s-media-cache-ak0.pinimg.com/736x/96/c8/92/96c892f7c4be0b489dd1d704f0714154--car-girls-pin-up-girls.jpg">
		</div>
		<div class="img-item">
			<div class="delete">
				<i class="icon-trash icons"></i>
				<span>Excluir</span>
			</div>
			<img src="http://3.bp.blogspot.com/_Y5-4Z4aPcOI/TVKtxqY9yYI/AAAAAAAAB0k/XXJU257apQM/s1600/Hot%2BPerfect%2BGirls%2B-%2BFreeHD.Blogspot.Com%2B-%2B%25252816%252529.jpg">
		</div>
		<div class="img-item">
			<div class="delete">
				<i class="glyphicon glyphicon-remove icons"></i>
				<span>Excluir</span>
			</div>
			<img src="http://freshwallpapers.in/walls/sexy_babe-other.jpg">
		</div>
<div class="margin-couple">
		<div class="album">



			<button  ng-click="r('couple-videos')" class="submit-primary hnc hnt"><img src="assets/images/correct-symbol.svg">	</button>
		</div>
	</div>
</ion-content>
