<img src="assets/images/login.jpg" class="guide">
<div class="head inside">
	<a class="left-menu" href="#"><i class="icon-menu icons"></i></a>
	<h3 class="new-acct featured-profile"><i class="icon-diamond icons"></i> Perfis destaque</h3>
	<a class="right-menu" href="#"><i class="icon-user icons"></i></a>
</div>
<ion-content class="album" scroll="true">
	<div class="couple-data profiles">
		<div class="row">			
			<div class="user-profile">
				<img src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">		
				<div class="footer">
					<div class="state"></div>
					<div class="caption-profile">casal_coraçãozinho</div>
					<div class="location-couple">
						<i class="icon-direction icons"></i>
						Santa cândida
					</div>
				</div>
			</div>
			<div class="user-profile gold online">
				<img src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">		
				<div class="footer">
					<div class="state"></div>
					<div class="caption-profile">casal_coraçãozinho</div>
					<div class="location-couple">
						<i class="icon-direction icons"></i>
						Santa cândida
					</div>
				</div>
			</div>
		</div>
		<div class="row">			
			<div class="user-profile">
				<img src="	https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">		
				<div class="footer">
					<div class="state"></div>
					<div class="caption-profile">casal_coraçãozinho</div>
				</div>
			</div>
			<div class="user-profile">
				<img src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">		
				<div class="footer">
					<div class="state"></div>
					<div class="caption-profile">casal_coraçãozinho</div>
				</div>
			</div>
		</div>
		<div class="row">			
			<div class="user-profile online">
				<img src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">		
				<div class="footer">
					<div class="state"></div>
					<div class="caption-profile">casal_coraçãozinho</div>
					<div class="location-couple">
						<i class="icon-direction icons"></i>
						Santa cândida
					</div>				
				</div>
			</div>
			<div class="user-profile hot">
				<img src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">		
				<div class="footer">
					<div class="state"></div>
					<div class="caption-profile">casal_coraçãozinho</div>
					<div class="location-couple">
						<i class="icon-direction icons"></i>
						Santa cândida
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div class="pager">
		<i></i>
		<i></i>
		<i></i>
	</div>
</ion-content>
