<img src="assets/images/login.jpg" class="guide">
<ion-content scroll="false">
	<div class="login">
		<img src="assets/images/logo-lg.png" />

		<div class="control forgot">
			<h4 class="forgot-title">Esqueceu sua senha?</h4>
			<p>Preencha o campo para resertar sua senha.</p>
			<div class="login-form">

				<div class="form-field user-email">
					<input ng-model="forgot.user" type="text"  placeholder="Seu e-mail" class="formated-field">
				</div>
			</div>


			<div class="alt">
				<button class="submit-primary lt">
<img src="assets/images/correct-symbol.svg">
				</button>

			</div>
			<div class="art">
				<button class="submit-primary lt ">
				<img class="cancel" src="assets/images/remove-symbol.svg">
				</button>

			</div>
		</div>


	<div class="foot-info">
		<a class="pull-left" href="#/login">
			<i class="icon-rocket icons"></i> Logar
		</a>
		<a href="#/help" class="pull-right">
			<i class="icon-support icons"></i> Ajuda
		</a>
	</div></div>
</ion-content>
