<div class="head inside">
    <a class="left-menu" href="#"><i class="icon-menu icons icons-top"></i></a>
    <h3 class="new-acct featured-profile"><i class="icon-diamond icons"></i> Dados do Perfil</h3>
    <a class="right-menu" href="#"><i class="icon-user icons icons-top"></i></a>
</div>
<ion-content scroll="true">
    <div class="full-perfil margin-top">
        <div class="side-menu">
            <div class="profile dados">
                <div class="figure">
                    <img src="http://1.bp.blogspot.com/-0xEjdRlkAsE/UOrt2IoZVtI/AAAAAAAAALk/TBQTBaYGOW8/s1600/407892_513469232019610_81697252_n.jpg">
                </div>
                <div class="meta">
                    <div class="name">
                        CASAL CORAÇÂOZINHO
                    </div>
                    <div class="location-couple">
                        <i class="icon-direction icons"></i> Santa cândida
                    </div>
                    <div class="location-couple like">
                        <i class="icon-like icons"></i> <span class="like-number">250</span> <span class="likes"> Likes</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="stats-profile">
            <div class="stats">
                <i class="icon-user icons"></i>
                <div class="number">4</div>
                <div class="legend"> amigos</div>
            </div>
            <div class="stats">
                <i class="icon-camera icons"></i>
                <div class="number">10</div>
                <div class="legend"> fotos</div>
            </div>
            <div class="stats">
                <i class="icon-camrecorder icons"></i>
                <div class="number">2</div>
                <div class="legend"> vídeos</div>
            </div>
            <div class="stats">
                <i class="icon-user-follow icons"></i>
                <div class="number solicitar">solicitar</div>
                <div class="legend"> amizade</div>
            </div>
        </div>
        <div class="stats-horizontal">
            <div class="stats-block">
                <div class="icon"><i class="icon-user-follow icons"></i>
                    <div>
                        <div class="text">
                            <div class="title">curtiu</div>
                            <div class="legend">casal</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stats-block">
                <div class="icon"><i class="icon-user-follow icons color-purple"></i>
                    <div>
                        <div class="text">
                            <div class="title ">curtiu</div>
                            <div class="legend">casal</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stats-block">
                <div class="icon"><i class="icon-user-follow icons color-purple"></i>
                    <div>
                        <div class="text">
                            <div class="title ">curtiu</div>
                            <div class="legend">casal</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="complete-profile">
            <div class="selos">
                <div class="selo">
                    <img src="assets/images/vip-icon.png">
                </div>
                <div class="selo">
                    <img class="maior" src="assets/images/hot-icon.png">
                </div>
                <div class="selo">
                    <img src="assets/images/casal-icon.png">
                </div>
            </div>
            <div class="title-profile">
                <h3 class="fullprofile">"Queremos muito além de apenas <br>sexo casual e diversão!"</h3>
            </div>

            <ul class="list-unstyled full-profile">
                <li><span class="gold-couple">Nossa cidade:</span> Rio de Janeiro - RJ</li>
                <li><span class="gold-couple">Buscamos por: </span>Casais e Solteiros</li>
                <li><span class="gold-couple">Idade entre: </span>25 a 45 anos</li>
                <ul>
                    <div class="perfil-full">

                        <div class="foto">
                            <img src="http://1.bp.blogspot.com/-0xEjdRlkAsE/UOrt2IoZVtI/AAAAAAAAALk/TBQTBaYGOW8/s1600/407892_513469232019610_81697252_n.jpg">
                        </div>
                        <div class="meta">
                            <div class="name">
                                <i class="icon-symbol-male icons icon-male"></i>CASAL CORAÇÂOZINHO
                            </div>
                        </div>
                    </div>

                    <div>
                        <ul class="list-unstyled">
                            <li><span class="gold-couple">Idade:</span>50 anos</li>
                            <li><span class="gold-couple">Altura:</span>1.54m</li>
                            <li><span class="gold-couple">Peso:</span>47Kg</li>
                            <li><span class="gold-couple">Orientação:</span>Heterossexual</li>
                            <li><span class="gold-couple">Pele:</span>Pele branca</li>
                            <li><span class="gold-couple">Cabelo:</span>Castanho escuro</li>
                            <li><span class="gold-couple">Tipo cabelo:</span>CLongo</li>
                            <li><span class="gold-couple">Formação:</span>Pós - graduação</li>
                            <li><span class="gold-couple">Bebe:</span>Não bebe</li>
                            <li><span class="gold-couple">Fuma:</span>Não fuma</li>
                            <li><span class="gold-couple">Não costa de:</span>Fazer sexo anal</li>
                            <li><span class="gold-couple">Melhor posição:</span>De quatro</li>
                            <li><span class="gold-couple">Culinária preferida:</span>Japonesa</li>
                            <li><span class="gold-couple">Bebida preferida:</span>Jack Daniels</li>

                        </ul>
                    </div>

                    <div class="perfil-full">

                        <div class="foto">
                            <img src="http://1.bp.blogspot.com/-0xEjdRlkAsE/UOrt2IoZVtI/AAAAAAAAALk/TBQTBaYGOW8/s1600/407892_513469232019610_81697252_n.jpg">
                        </div>
                        <div class="meta">
                            <div class="name">
                                <i class="icon-symbol-female icons icon-fermale"></i>CASAL CORAÇÂOZINHO
                            </div>
                        </div>
                    </div>

                    <div>
                        <ul class="list-unstyled">
                            <li><span class="gold-couple">Idade:</span>50 anos</li>
                            <li><span class="gold-couple">Altura:</span>1.54m</li>
                            <li><span class="gold-couple">Peso:</span>47Kg</li>
                            <li><span class="gold-couple">Orientação:</span>Heterossexual</li>
                            <li><span class="gold-couple">Pele:</span>Pele branca</li>
                            <li><span class="gold-couple">Cabelo:</span>Castanho escuro</li>
                            <li><span class="gold-couple">Tipo cabelo:</span>CLongo</li>
                            <li><span class="gold-couple">Formação:</span>Pós - graduação</li>
                            <li><span class="gold-couple">Bebe:</span>Não bebe</li>
                            <li><span class="gold-couple">Fuma:</span>Não fuma</li>
                            <li><span class="gold-couple">Não costa de:</span>Fazer sexo anal</li>
                            <li><span class="gold-couple">Melhor posição:</span>De quatro</li>
                            <li><span class="gold-couple">Culinária preferida:</span>Japonesa</li>
                            <li><span class="gold-couple">Bbebida preferida:</span>Jack Daniels</li>
                        </ul>
                    </div>

                    <div class="box-info">
                        <h3>Procuramos por:</h3>
                        <ul>
                            <li>Sexo no mesmo ambiente</li>
                            <li>Troca de carícias</li>
                            <li>Menage femenino</li>
                            <li>Menage masculino</li>
                        </ul>
                    </div>

                    <div class="box-info">
                        <h3>Gostamos de:</h3>
                        <ul>
                            <li>Sexo no mesmo ambiente</li>
                            <li>Troca de carícias</li>
                            <li>Menage femenino</li>
                            <li>Menage masculino</li>
                        </ul>
                    </div>

                    <div class="box-info">
                        <h3>Breve descrição</h3>
                        <p>Sarah, 35, e Mauro, 45, são casados há nove anos. Ambos trabalhavam com seguros, se conheceram pela internet e hoje são empresários. Tudo estável e comum, não fossem eles praticantes de swing. Isso mudou suas vidas. Tanto que hoje vivemde promover festas de troca de casais por meio do site Hot Swingers. E oficializaram a união em uma casa de swing. Após a cerimônia, os seis casais de padrinhos se separaram.</p>
                    </div>

                    <div class="selos">
                        <div class="box-info">
                            <h3>Casas de Swing que frequento:</h3></div>
                        <div class="casa">
                            <div class="selo">
                                <img src="assets/images/hotbar-logo.png">
                            </div>
                            <div class="selo">
                                <img src="assets/images/desiree-logo.png">
                            </div>
                        </div>
                    </div>
        </div>

        <div class="title-style-2">
            <h3><i class="icon-people icons"></i> Amigos em comum </h3></div>
        <div class="couple-data profiles">
            <div class="row">
                <div class="user-profile">
                    <img src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                    <div class="footer">
                        <div class="state"></div>
                        <div class="caption-profile">casal_coraçãozinho</div>
                        <div class="location-couple">
                            <i class="icon-direction icons caption-icon"></i> Santa cândida
                        </div>
                    </div>
                </div>
                <div class="user-profile gold online">
                    <img src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                    <div class="footer">
                        <div class="state"></div>
                        <div class="caption-profile">casal_coraçãozinho</div>
                        <div class="location-couple">
                            <i class="icon-direction icons caption-icon"></i> Santa cândida
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="user-profile">
                    <img src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                    <div class="footer">
                        <div class="state"></div>
                        <div class="caption-profile">casal_coraçãozinho</div>
                        <div class="location-couple">
                            <i class="icon-direction icons caption-icon"></i> Santa cândida
                        </div>
                    </div>
                </div>
                <div class="user-profile">
                    <img src="https://mbworld.org/forums/attachments/off-topic/349609d1487848587-hot-babe-abs-12799358_1683866051867767_446680960594998983_n.jpg">
                    <div class="footer">
                        <div class="state"></div>
                        <div class="caption-profile">casal_coraçãozinho</div>
                        <div class="location-couple">
                            <i class="icon-direction icons caption-icon"></i> Santa cândida
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div>
        <div class="title-style-2">
            <h3><i class="icon-people icons"></i>Quem certificou este casal?</h3></div>
        <div class="complete-profile">
            <p class="text">Foram 10 casais que confirmaram que este é um CASAL REAL. Além dele ter ganho o selo CASAL REAL, tornaram-se um <span class="hot">CASAL HOT</span>.</li>
                <ul>
                    <div class="box-info2 cols-2">
                        <li>CASAL_EUROPEU</li>
                        <li>CASAL_CORACAOZINHO</li>
                        <li>CASAL-SORRISO</li>
                        <li>SAMBA-BRASIL</li>
                        <li>SWINGER_SANTINHOS</li>
                        <li>SOUL-SWINGER</li>
                        <li>XOTINHA-DO-CADU</li>
                        <li>FOGOSO E FOGOSA</li>
                        <li>CASAL_CHAMPA</li>
                        <li>TRANSARINOS_HOT</li>
                    </div>
                </ul>

        </div>
    </div>
</ion-content>