<img src="" class="guide">
<ion-content class="get-hot-code" scroll="false">
	<img src="assets/images/logo.png" class="logo-internal" />
	<div class="login pane--form-hotcode">

		<div class="control">
			<h2>Como conseguir <br>um código hot?</h2>


			<p class="option-code"><span class="hot">1ª OPÇÃO: </span>Vá até um dos estabelecimentos credenciados e faça seu cadstro em nossos <span class="hot">TOTENS ELETRÔNICOS.</span> É bem fácil! Conheça os estabelecimentos em <a href="#">www.hotswingers.com.br</a></p>

			<p clas="option-code"><span class="hot">2ª OPÇÃO: </span>Faça amizade com casais que já usam este aplicativo. Os <span class="gold-couple">casais ouro</span> e os <span class="hot-couple">casais hot</span> podem apadrinhar novos cadastros, peça o código para eles!</p>
			<button class="submit-primary hn"><i class="icon icon-like hand"></i> Vou atrás do meu código hot</button>
			<a href="#"><span class="control">Como conseguir um código hot?</span></a>

		</div>


	<div class="foot-info">
		<a class="pull-left" href="#/login">
			<i class="icon-rocket icons"></i> Login
		</a>
		<a class="pull-right">
			<i class="icon-support icons"></i> Ajuda
		</a>
	</div></div>
</ion-content>
