<img src="assets/images/login.jpg" class="guide">
<ion-content scroll="false">
	<img src="assets/images/logo.png" class="logo-internal" />
	<div class="login pane--form-hotcode">

		<div class="control">
			<h2>código hot</h2>
			<p>Este aplicativo é estritamente restrito!</p>

			<p>Para você continuar seu cadastro <br>insira abaixo seu <strong class="hot">código hot.</strong></p>
			<div class="form-field with-caption user-pass"  >
				<input ng-model="hotCode" type="passowrd"  class="formated-field">
			</div>
			<div class="place-info">
				<h5>este é seu padrinho!</h5>
				<h4>hotbart - são paulo</h4>
			</div>
			<button class="submit-primary hn"><i class="icon icon-like hand"></i> Certo! Pode continuar</button>
			<div class="button-help"><a  href="#/get-hot-code">Como conseguir um código hot?</a></div>

		</div>


	<div class="foot-info">
		<a class="pull-left" href="#/login">
			<i class="icon-rocket icons"></i> Login
		</a>
		<a class="pull-right">
			<i class="icon-support icons"></i> Ajuda
		</a>
	</div></div>
</ion-content>
