<img src="" class="guide">
<ion-content class="padding get-hot-code" scroll="false">
    <img src="assets/images/logo.png" class="logo-internal" />
    <div class="login pane--form-hotcode">

        <div class="control">
            <h2>Localização</h2>
            <p>
                Indentificamos que você está dentro de uma das nosas casas parceira.
            </p>

            <img class="location" src="https://www.liweddings.com/themes/default/assets/images/no-image.png">

            <p>Você deseja fazer check-ibn e trocar mensagens com outros casais que também fizeram check-in?</p>

            <button class="submit-primary hn"><i class="icon-like icons hand"></i> Certo! pode continuar</button>
            <a href="#/forgot" class="forgot">Esqueceu sua senha?</a>
        </div>

    </div>
</ion-content>
