<img src="assets/images/login.jpg" class="guide">
<ion-content class="padding" scroll="false">
	<div class="login">
		<img src="assets/images/logo-lg.png" />

		<div class="login-form">

			<div class="form-field user-email">
				<input ng-model="login.user" type="text"  placholder="Email" class="formated-field">
			</div>
			<div class="form-field with-caption user-pass"  >
				<input ng-model="login.pass" type="password"  placeholder="******" class="formated-field">
			</div>
				<p class="message" ng-class="$msg.className" ng-show="$msg.msgShow">
				{{$msg.msgContent}}</p>
			<button class="submit-primary" ng-click="logIn()"><img src="assets/images/correct-symbol.svg"></button>
			<a href="#forgot" class="forgot">Esqueceu sua senha?</a>
		</div>


	<div class="foot-info">
		<a href="#register" class="pull-left">
			<i class="icon-note icons"></i> Cadastre-me
		</a>
		<a href="#help" class="pull-right">
			<i class="icon-support icons"></i> Ajuda
		</a>
	</div></div>
</ion-content>
