<img src="assets/images/login.jpg" class="guide">
<div class="head">
	<h3 class="new-acct" ng-show="account.type != 'couple'">
		<i class="icon-user icons"></i> Dados do Perfil
	</h3>


	<h3 class="new-acct" ng-show="account.type == 'couple'">
		<i class="icon-user icons"></i> Dados do Casal
	</h3>
</div>
<ion-content class="padding" scroll="true">

	<div class="new-account w-image">
		<h2 class="profile-top" ng-show="account.type == 'couple'">Perfil 1</h2>
		<h2 class="profile-top" ng-show="account.type !== 'couple'">Perfil</h2>
		<div class="photo w-image" ng-click="selectFile('#file1')">
		 	<input ng-hide="true" type='file' id="file1" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
			<i class="icon-camera" ng-show="!images[0]"></i>
			<figure>
				<img ng-src="{{images[0]}}">
			</figure>
		</div>
		<div class="nickname">
			<input type="text" name="nick"ng-model="user.profile1.nick">
		</div>
		<div class="account-type">
		<div class="form-field user-state">
				<div class="radio-field">
				    <label>
				        <input type="radio"  ng-model="user.profile1.gender" value="female" />
				        <span>Feminino</span>
				    </label>
				</div>
				<div class="radio-field pull-right">
				    <label>
				        <input type="radio"  ng-model="user.profile1.gender" value="male"  />
				        <span>Masculino</span>
				    </label>
				</div>
			</div>
		</div>
		<div class="subir">
		<div class="input-row">
			<div class="st1">
				<input type="text" ng-model="user.profile1.age" name="age">
			</div>
			<div class="st2">
				<input type="text" ng-model="user.profile1.length" name="length" >
			</div>
			<div class="st3">
				<input type="text" ng-model="user.profile1.weight" name="weight">
			</div>
		</div>
		<div class="selector-view ">
			<p>Pele</p>
			<select ng-model="user.profile1.skin">
				<option>Escuro</option>
				<option>Claro</option>
				<option>Pardo</option>
			</select>
		</div>
		<div class="selector-view ">
			<p>Cabelo</p>
			<select ng-model="user.profile1.hair">
				<option>Escuro</option>
				<option>Claro</option>
			</select>
		</div>
		<div class="selector-view " >
			<p>Tipo de cabelo</p>
			<select  ng-model="user.profile1.hairType"> 
				<option>Escuro</option>
				<option>Claro</option>
			</select>
		</div>
		<div class="selector-view ">
			<p>Formação</p>
			<select  ng-model="user.profile1.college">
				<option>Ens Fundamental</option>
				<option>Ens Superior</option>
				<option>Graduado(a)</option>
				<option>Doutor</option>
				<option>P.h.D</option>
			</select>
		</div>
		<div class="selector-view ">
			<p>Não gosto de</p>
			<select ng-model="user.profile1.weDontLike">
				<option>Fumantes</option>
				<option>Drogas</option>
				<option>Ódio</option>
			</select>
		</div>
		<div class="selector-view ">
			<p>Melhor posição</p>
			<select ng-model="user.profile1.bestStunt">
				<option>Missionary</option>
				<option>Doggystyle</option>
				<option>Ride</option>
				<option>Cowgirl</option>
				<option>Form Behind</option>
			</select>
		</div>
		<div class="selector-view ">
			<p>Culinária preferida</p>
			<select ng-model="user.profile1.favFood">
				<option>Tradicional</option>
				<option>Italiana</option>
				<option>Asiática</option>
				<option>Caseira</option>
				<option>Africana</option>
			</select>
		</div>
		<div class="selector-view">
			<p>Bebida preferida</p>
			<select ng-model="user.profile1.favDrink">
				<option>Whisky</option>
				<option>Cerveja</option>
				<option>Vodka</option>
				<option>Pinga</option>
				<option>Rum</option>
			</select>
		</div>

		<div class="selector-view ">
			<p>Orientação</p>
			<select  ng-model="user.profile1.genderId">
				<option>Heterosexual</option>
				<option>Homosexual</option>
				<option>Cisgênero</option>
				<option>Transexual/Travesti</option>
			</select>
		</div>
		<div class="selector-nav">
			<ion-item>
				<ion-toggle disabled  ng-model="user.profile1.smoke"></ion-toggle>
				<ion-label> Fuma</ion-label>
			</ion-item>
			<ion-item>
				<ion-toggle disabled  ng-model="user.profile1.drink"></ion-toggle>
				<ion-label> Bebe</ion-label>
			</ion-item>
		</div>
</div>
	</div>
		<div class="new-account two" ng-show="account.type == 'couple'">
		<div class="photo w-image" ng-click="selectFile('#file2')">
		 	<input ng-hide="true" type='file' id="file2" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
			<i class="icon-camera" ng-show="!images[1]"></i>
			<figure>
				<img ng-src="{{images[1]}}">
			</figure>
		</div>
			<div class="nickname">
				<input type="text" name="nick" ng-model="user.profile2.nick">
			</div>
			<div class="account-type">
				<div class="form-field user-state">
					<div class="radio-field">
					    <label>
					        <input type="radio"  ng-model="user.profile2.gender" value="female" />
					        <span>Feminino</span>
					    </label>
					</div>
					<div class="radio-field pull-right">
					    <label>
					        <input type="radio" ng-model="user.profile2.gender" value="male"  />
					        <span>Masculino</span>
					    </label>
					</div>
				</div>
			</div>
			<div class="subir">
				<div class="input-row">
					<div class="st1">
						<input type="text" ng-model="user.profile2.age" name="age">
					</div>
					<div class="st2">
						<input type="text" ng-model="user.profile2.length" name="length" >
					</div>
					<div class="st3">
						<input type="text" ng-model="user.profile2.weight" name="weight">
					</div>
				</div>
				<div class="selector-view ">
					<p>Pele</p>
					<select ng-model="user.profile2.skin">
						<option>Escuro</option>
						<option>Claro</option>
						<option>Pardo</option>
					</select>
				</div>
				<div class="selector-view ">
					<p>Cabelo</p>
					<select ng-model="user.profile2.hair">
						<option>Escuro</option>
						<option>Claro</option>
					</select>
				</div>
				<div class="selector-view " >
					<p>Tipo de cabelo</p>
					<select  ng-model="user.profile2.hairType"> 
						<option>Escuro</option>
						<option>Claro</option>
					</select>
				</div>
				<div class="selector-view ">
					<p>Formação</p>
					<select  ng-model="user.profile2.college">
						<option>Ens Fundamental</option>
						<option>Ens Superior</option>
						<option>Graduado(a)</option>
						<option>Doutor</option>
						<option>P.h.D</option>
					</select>
				</div>
				<div class="selector-view ">
					<p>Não gosto de</p>
					<select ng-model="user.profile2.weDontLike">
						<option>Fumantes</option>
						<option>Drogas</option>
						<option>Ódio</option>
					</select>
				</div>
				<div class="selector-view ">
					<p>Melhor posição</p>
					<select ng-model="user.profile2.bestStunt">
						<option>Missionary</option>
						<option>Doggystyle</option>
						<option>Ride</option>
						<option>Cowgirl</option>
						<option>Form Behind</option>
					</select>
				</div>
				<div class="selector-view ">
					<p>Culinária preferida</p>
					<select ng-model="user.profile2.favFood">
						<option>Tradicional</option>
						<option>Italiana</option>
						<option>Asiática</option>
						<option>Caseira</option>
						<option>Africana</option>
					</select>
				</div>
				<div class="selector-view">
					<p>Bebida preferida</p>
					<select ng-model="user.profile2.favDrink">
						<option>Whisky</option>
						<option>Cerveja</option>
						<option>Vodka</option>
						<option>Pinga</option>
						<option>Rum</option>
					</select>
				</div>

				<div class="selector-view ">
					<p>Orientação</p>
					<select  ng-model="user.profile2.genderId">
						<option>Heterosexual</option>
						<option>Homosexual</option>
						<option>Cisgênero</option>
						<option>Transexual/Travesti</option>
					</select>
				</div>
				<div class="selector-nav">
					<ion-item>
						<ion-toggle disabled  ng-model="user.profile2.smoke"></ion-toggle>
						<ion-label> Fuma</ion-label>
					</ion-item>
					<ion-item>
						<ion-toggle disabled  ng-model="user.profile2.drink"></ion-toggle>
						<ion-label> Bebe</ion-label>
					</ion-item>
				</div>
			</div>
		</div>
		<button  ng-click="doAfterNewAccount();" class="submit-primary hn">
			<img src="assets/images/correct-symbol.svg">
		</button>	
</ion-content>
