<img src="" class="guide">
<ion-content class="padding get-hot-code" scroll="false">
	<img src="assets/images/logo.png" class="logo-internal" />
	<div class="login pane--form-hotcode">

		<div class="control">
			<h2>Cadastro efetuado</h2>
			<p>
				Parabéns seus dados foram cadastrados com sucesso em nossa base de dados.
			</p>

			<p>Você tem <span class="gold-couple">30 dias grátis</span> para utilizar
o nosso aplicativo, após o sistema irá
solicitar os dados de pagamento a você!</p>

			<!--<p>Não esqueça de <span class="gold-couple">ativar seu cadastro</span> no e-mail
enviado a você. É importante para o futuro.
(Procure na caixa de SPAM caso não encontre). </p>-->
			<h5 class="greet">Aproveite e boa diversão!</h5>

			<div class="hot-couple">
			ESTE É SEU PADRINHO<br /><p>HOTBAR - SÃO PAULO</p>
			</div>
			<button ng-click="r('new-account')" class="submit-primary hn"><i class="icon-like icons hand"></i> Certo! pode continuar</button>

		</div>

	</div>

</ion-content>
