.stats-profile {
  width: 100%;
  padding: 15px 25px;
  background: #4b2567;
  display: inline-block;
  padding: 37px 0 15px 0;
  margin-top: 20px;
}

.stats {
  width: 25%;
  float: left; text-align: center;
}

.stats i {
  font-size: 20px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 18px;
  margin-bottom: 25px;

}

.stats .number {
  font-size: 18px;
  text-align: center;
  margin: 22px 0 0;
  font-weight: bold;
  text-transform: uppercase;
}

.stats .legend {
  color: #a49cb3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.stats .solicitar {
  font-size: 16px;
  margin: 25px 0 0 0;
}

.stats-horizontal {
  width: 100%;
  padding: 15px 15px 5px 15px;
    background: #341848;
  display: inline-block;
    margin: -8px 0 15px 0;
}

.stats-horizontal .stats-block {
    width: 30%;
    float: left;
    margin-right: 5px;
}

.stats-horizontal .stats-block i{
  padding: 12px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 25px;
}

.stats-horizontal .icon{
  float:left;
  display: flex;
}
.stats-horizontal .text{
  float:left;
  display: inline-block;
}

.stats-horizontal .title{
    font-size: 14px;
    text-align: center;
    margin: 10px 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
}

.stats-horizontal .legend {
    color: #a49cb3;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.color-purple {
  background: #e6445c;
  border: 2px solid #e6445c!important;
}

.dados .location-couple {
    text-transform: uppercase;
    font-weight: bold;
    color: #EB7F2B;
    text-align: left;
    font-size: 12px;
}

.dados .location-couple .icons {
  font-size: 11px;
  position: relative;
  top: 0px;
}

.dados .name {
  font-size: 17px;
  font-weight: bold;
}

.dados .like {
    margin: 5px 0 0 0;
}

.dados .meta {
    margin: -5px 0 0 0;
}

.dados .like .icons {
    margin: 10px 5px 0 0;
    font-size: 20px;
    top: 2px;
    position: relative;
    color: #fff;
    opacity: 1;
}

.dados .like-number {
  font-size: 18px;
  font-weight: bold;
}

.selos{
  width: 100%;
  /*margin: 25px 0;*/
}

.selo {
    width: 33.33%;
    float: left;
    text-align: center;
}

.selo img {
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 9px;
}

.selo .maior {
  width: 80%!important;
  margin-top: 0!important;
}

.title-profile {
  width: 100%;
  display: inline-block;
  margin-top: 25px;
  padding: 0 25px;

}
h3.fullprofile {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}

.perfil-full {
    width: 100%;
    display: flow-root;
    margin: 20px 0;
}

.perfil-full .foto{
    width: 80px;
    overflow: hidden;
    height: 80px;
    border-radius: 50%;
    float: left;
    border: 4px solid #ff7e00;
}

.perfil-full img {
    width: 100%;
    object-fit: cover;
    height: 8em;
    /* border: 4px solid red; */
}

.perfil-full .meta {
    background: rgba(74, 34, 98, 0.55);
    position: relative;
    top: 20px;
    z-index: -1;
    padding: 10px 0 7px 0;
    border-radius: 7px;
}

.perfil-full .name {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.complete-profile {
  padding: 0 25px;
}

span.gold-couple {
  text-transform: inherit;
  margin-right: 5px;
}

.selos .casa {
  width: 50%;
}

.cols-2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.full-profile li {
    font-size: 15px;
    padding: 2px 0;
}

.icons.icon-male {
    color: #0596e7;
    font-weight: bold;
    position: relative;
    top: 2px;
    right: 3px;
}

.icons.icon-fermale {
    color: #ff8cf3;
    font-weight: bold;
    position: relative;
    top: 2px;
    right: 3px;
}
.box-info {
  display: inline-block;
  margin: 20px 0 0 0;
}
.box-info h3 {
  color: #FFD50A;
  text-transform: inherit;
  font-weight: 900;
  font-size: 20px;
}

.box-info li {

  margin-left: 15px;
      font-size: 15px;
}

.box-info li:before {
    content: '\00b7';
    line-height: 24px;
    vertical-align: middle;
    font-size: 60px;
    margin: 0 15px 0;
}

.box-info p {
  font-size: 15px;
}

.title-style-2 {
      background: rgba(74, 34, 98, 0.55);
      padding: 10px 15px 2px 27px;
      display: inline-block;
}

.title-style-2 h3{
      font-size: 17px;
      font-weight: bold;
}

.casa {
  width: 100%!important;
  margin-bottom: 15px;
  min-height: 50px;
}

.casa .selo{
  width: 50%!important;
}

.text {
  margin: 15px 0;
}

.box-info2 li {
    /*margin-left: 15px;*/
    font-size: 12px;
    font-weight: bold;
}

.box-info2 li:before {
    content: '\00b7';
    line-height: 24px;
    vertical-align: middle;
    font-size: 30px;
    margin: 0 5px 0;
}
.full-perfil .couple-data {
    padding-top: 0;
}