.get-hot-code h2 {
    overflow: hidden;
}

.get-hot-code img.logo-internal {
    /*margin: 4px 5px;*/
}

span.hot {
    color: #ffae02;
    font-weight: bold;
}

.get-hot-code .control a {
    font-weight: normal;
    margin: 0 0;
    color: #ff71bb;
    font-weight: bold;
}

span.hot-couple, span.gold-couple {
    color: #fe4821;
    text-transform: uppercase;
    font-weight: bold;
}

span.gold-couple {
    color: #ffad00;
}
.get-hot-code {
    padding: 10px;
}

p.option-code {
  margin-bottom: 25px;
}
