.splash.pane {
    background: linear-gradient(#441F55, #1B0720);
    text-align: center;
}
.round-progress-wrapper {
    /* background: red; */
    /* padding: 15em 9.5em; */
} 
.splash img {
    width: 67%;
    position: relative;
    top: 8.5em;
}
.inner{
      /* background: red; */
      top: 2.2em;
      position: relative;
      font-size: 2.6em;
      color: #fff;
      font-weight: bold;
}
.progress {
    padding: 13em 0;
    width: 7.5em;
    margin: 0 auto;
    background: transparent !important  ;
}
